$color-primary: #2D3748; // gray 700
$color-secondary: #FFFFFF; // white

$color-text: #171923; // gray 900
$color-text-secondary: #718096; // gray 500

$color-background: #F1F2F6; // main BG

$color-warning: #F56565; // red 500
$color-selected: #3182CE // blue 500
